name: publish
on:
  workflow_dispatch:
  push:

env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_NOLOGO: true

defaults:
  run:
    shell: pwsh

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-dotnet@v5

    - name: Test
      run: dotnet test

    - name: Build (arm64)
      run: dotnet publish Meziantou.FileMover/Meziantou.FileMover.csproj --configuration Release --runtime win-arm64 --output ${{ github.workspace }}/publish/win-arm64

    - name: Build (x64)
      run: dotnet publish Meziantou.FileMover/Meziantou.FileMover.csproj --configuration Release --runtime win-x64 --output ${{ github.workspace }}/publish/win-x64

    - name: upload artifacts
      uses: actions/upload-artifact@v6
      with:
        name: publish
        path: ${{ github.workspace }}/publish

    - run: (gh release view $env:ReleaseName || gh release create $env:ReleaseName --generate-notes) && gh release upload $env:ReleaseName "${{ github.workspace }}/publish/Meziantou.FileMover.exe" "${{ github.workspace }}/publish/Meziantou.FileMover.json" "${{ github.workspace }}/publish/Meziantou.FileMover.pdb"
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
      env:
        GH_TOKEN: ${{ github.token }}
        ReleaseName: ${{ github.ref_name }}


